body {
    font-family: Arial, sans-serif;
    background-color: #a0e1d4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(51, 131, 223);
    font-style: italic;
    font-size: 55px;
    border-bottom: 5px;
}

header {
    background-color: antiquewhite;
    padding: 2px;
    text-align: center;
    
}

p{
    display: flex;
}
nav{
    position:sticky;
}
nav ul {
    list-style-type: none;
    padding: 0;
    position:sticky;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position:sticky;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.food {
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.food-img {
    width: 350px;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.foodcontent {
    padding: 15px;
    color: #cc0a0ae8;
}

.foodtitle {
    color: rgba(255, 0, 0, 0.516);
    font-size: 25px;
    margin-bottom: 10px;
}

.food-info {
    font-size: 15px;
    color: #22a7a3;
    line-height: 1.4;
    flex-wrap: wrap;
}

.cafedine{
    color: rgba(203, 9, 9, 0.39);
}

footer {
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
    
}

.btn{
    color: aqua;
}